/*************
Header Grid
**************/
header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
}

header img {
  grid-column: 1/2;
  grid-row: 1/2;
}

header>div {
  grid-column: 2/3;
  grid-row: 1/2;
}

/********
Main Grid
*********/
main {
  margin: 0 auto;
  max-width: 1100px;
}

/************
Welcome Grid
*************/
#welcome {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  padding-top: 10px;
}

#welcome-text {
  grid-column: 1/2;
  grid-row: 1/2;
}

#diver {
  grid-column: 2/2 span;
  grid-row: 1/2;
}

#soccer {
  grid-column: 3/2 span;
  grid-row: 1/2;
}

.responsive {
  height: auto;
  max-width: 100%;
}

/*************
Shirts Grid
*************/
#shirts {
  box-shadow: 0 20px 10px -20px  #000,
              0 -20px 10px -20px #000;
  display: grid;
  grid-column: 1/2;
  grid-gap: 30px;
  grid-row: 2/3;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 30px;
}

#shirts>div {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

#shirts>div>picture {
  grid-column: 1/2;
  grid-row: 1/3;
}

#shirts>div>h3 {
  align-self: flex-end;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
}

#shirts>div>a {
  grid-column: 2/3;
  grid-row: 2/3;
}

/***********
About Grid
*************/
#about {
  display: grid;
  grid-column: 1/2;
  grid-gap: 50px;
  grid-row: 3/4;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding-top: 20px;
}

#about>div {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 850px) {
  #welcome {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
  
  #diver {
    grid-column: 1/2 span;
  }
  
  #soccer {
    grid-column: 2/2 span;
  }
  
  #welcome-text {
    grid-column: 1/3 span;
    grid-row: 2/3;
  }
  
  #shirts {
    display: block;
  }
  
  #shirts>div {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    margin: 20px;
  }
  
  #about {
    display: block;
    padding-bottom: 70px;
  }
  
  #about>div {
    grid-template-columns: 1fr 4fr;
  }
  
  #about>div div:last-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  #about>div div:first-of-type {
    grid-column: 2/3;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column-reverse;
  }
  
  header div {
    text-align: center;
  }
  
  header img {
    height: auto;
    margin: 0 auto;
    width: 200px;
  }
}
